* {
  margin: 0;
}

.app {
  background: #fafafa;
  height: 100vh;
}

.app__header {
  object-fit: contain;
  background: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

/* .log__button {
  padding: 6px 16px !important;
} */
